name: Sync releases to cnb.cool

on:
  release:
    types: [created] # 当 Release 被创建（即使是草稿）时触发 [citation:1]

jobs:
  log-release-info:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Sync cnb.cool repo
        run: |
          curl -X 'POST' \
            'https://api.cnb.cool/BlockHaity/BAAH-releases/-/build/start' \
            -H 'accept: application/json' \
            -H 'Content-Type: application/json' \
            -H 'Authorization: Bearer ${{ secrets.CNBTOKEN }}' \
            -d '{ "event": "api_trigger" }'
